

{{about_me}}

{{#if infor_company.length}}
<ul>
    {{#each infor_company}}
    <li>
        {{this.title}}<br>
        {{this.content}}
    </li>
    {{/each}}
</ul>
{{else}}
<p>
    Not content
</p>
{{/if}}